.product {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.productImage {
  max-width: 65%;
}
.sizeChart {
  max-width: 100%;
}

@media (max-width: 1000px) {
  .product {
    width: 100%;
    flex-direction: column;
  }
  .productImage {
    width: 100%;
  }
  .sizeChart {
    width: 85%;
  }
}
