.product {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
}
.image {
  height: "20rem";
}

.productImage {
  max-width: 65%;
}
.sizeChart {
  max-width: 100%;
}

.descriptionList {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  font-size: 1rem;
}
.dropDown {
}
.dropDownDiv {
  margin: 8%;
}
.dropDownButton {
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.dropDownMenu {
}
.dropDownItem {
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .product {
    width: 100%;
    flex-direction: column;
  }
  .productImage {
    width: 100%;
  }
  .sizeChart {
    width: 85%;
  }
}
